.o-content-block {
	position: relative;
	z-index: 10;
	display: flex;
	margin: 6em 0 0 0;
	padding: 80px 0 80px 0;

	@include mq("M") {
		padding: 104px 0 104px 0;
	}

	.title h2 {
		@include heading-h2;
		color: $gray-scale-8;
		margin-bottom: map-get($spacings, 3);
	}

	.intro {
		@include paragraph-large;
		color: $gray-scale-7;
		margin-bottom: map-get($spacings, 4);
	}
}

.o-usp-counter {
	.row {
		display: flex;
		margin: 0 0 42px 0;
	}
	&__count {
		font-family: "Playfair Display";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 40px;
		font-feature-settings: "pnum" on, "lnum" on;
		color: #96735b;
		width: 56px !important;
	}
	&__intro {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		color: #151515;
		padding-top: 1rem;
		margin-left: 24px;
	}
}

.o-myaccount {
	padding-top: map-get($spacings, 7);
	padding-bottom: map-get($spacings, 14);
	h1 {
		margin-bottom: map-get($spacings, 4);
		@include heading-h1;
		color: $gray-scale-8;
	}
	h2 {
		margin-bottom: map-get($spacings, 1);
		@include heading-h4;
		color: $gray-scale-8;
	}
	p {
		margin-bottom: map-get($spacings, 5);
		color: $gray-scale-7;
	}
	&__section {
		border-bottom: 1px solid $gray-scale-3;
		margin-bottom: map-get($spacings, 3);
	}
	&__address {
		margin-bottom: map-get($spacings, 5);
		@include label-standard;
		color: $gray-scale-8;

		> div:first-of-type {
			@include label-standard-bold;
			margin-bottom: map-get($spacings, 2);
		}
		div {
			margin-bottom: map-get($spacings, 1);
		}

		@include mq("XS") {
			&:first-child {
				margin-bottom: map-get($spacings, 3);
			}
		}
	}
}

.o-footer {
    position: relative;
	z-index: 10;
	display: flex;
	flex: none;
	order: 5;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
    background: #f2efe3;
	padding: map-get($spacings, 10) 0;
	
	&__menu div {
		margin-bottom: map-get($spacings, 2);
		color: $gray-scale-9;
	}

	&__copyright {
		margin-bottom: map-get($spacings, 4);
		color: $gray-scale-6;
	}
	&__payoff {
		color: $gray-scale-6;
	}
}
