.o-accordion {
	max-width: 592px;
	margin: 0px auto;
	
	web-accordion-item .title {
		@include label-standard-bold;
		color: $gray-scale-8;
		margin: 0;
		padding: map-get($spacings, 3) map-get($spacings, 2) map-get($spacings, 1) map-get($spacings, 2);
		cursor: pointer;

		&:first-child {
			padding: map-get($spacings, 2);
		}
	}
	web-accordion-item .content {
		@include paragraph-standard;
		color: $gray-scale-8;
		padding: 0 map-get($spacings, 2) map-get($spacings, 2) map-get($spacings, 5);
	}
}
