.background {


    &__vineyard001 {
        background: url(/assets/image/vineyard/001@1x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

