// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
.btn-primary {
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: map-get($spacings, 2) map-get($spacings, 3);
  width: fit-content;
  background-color: $brand-primary-10;
  border-radius: 2px;
  @include label-standard;
  color: $gray-scale-0;
  transition: background-color 300ms linear;
  a & {
    // color: transparent;
    text-decoration: none;
  }
  &:hover {
    background: $brand-primary-6;
    text-decoration: underline;
  }

  ion-icon {
    padding-left: map-get($spacings, 1);
    color: $gray-scale-0;
  }
}

.btn-ghost {
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: map-get($spacings, 2) map-get($spacings, 3);
  width: fit-content;
  background-color: $gray-scale-9-40;
  border-radius: 2px;
  @include label-standard;
  color: $gray-scale-0;
  transition: background-color 300ms linear;
  a & {
    // color: transparent;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.btn-text {
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: map-get($spacings, 2) map-get($spacings, 3);
  width: fit-content;
  @include label-standard;
  color: $brand-primary-8;
  a & {
    // color: transparent;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    white-space: nowrap;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.button:hover,
button:hover {
  color: $dark-grey;
  border-color: lighten($dark-grey, 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {

  }
}

.button:focus,
button:focus {
  color: $dark-grey;
  border-color: lighten($dark-grey, 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
}

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

input {
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: $link-color;
  border-color: $link-color;
}

input {
  &[type="submit"].button-primary:hover,
  &[type="reset"].button-primary:hover,
  &[type="button"].button-primary:hover {
    color: #fff;
    background-color: $link-color;
    border-color: $link-color;
  }
}

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: $link-color;
  border-color: $link-color;
}

input {
  &[type="submit"].button-primary:focus,
  &[type="reset"].button-primary:focus,
  &[type="button"].button-primary:focus {
    color: #fff;
    background-color: $link-color;
    border-color: $link-color;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.5em !important;
  position: relative;
  top: 0.3em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
