// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 52px;
  padding: map-get($spacings, 2); // The 6px vertically centers text on FF, ignored by Webkit
  background-color: $gray-scale-0;
  border: 1px solid $gray-scale-4;
  border-radius: $global-radius;
  box-shadow: none;
  box-sizing: border-box;
  @include label-standard;
  color: $gray-scale-8;

  &.full-width{
    width: 100%;
    max-width: 384px;
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid $gray-scale-6;
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border: 1px solid $gray-scale-6;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
